.container{
    text-align: center;
    background-color:rgba(245, 245, 245, 0.63);
    width: 370px;
    height: 250px;
    margin-top: 80px;
    margin-left: 450px;
    border: rgb(34, 21, 211) solid 2px;
}
button{
    float: left;
    margin-left: 10px;
    margin-top: 40px;
    border: solid 1px;
    border-radius: 3px;
    cursor: pointer;
}